<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kawal.malang.officer">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.kawal.malang.officer.presentation.OfficerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PanicButtonPolresJakarta">
        <activity
            android:name=".presentation.pengaduan.detail.DetailPengaduanActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.pengaduan.PengaduanActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.bantuan.BantuanActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.lokasi.LokasiActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.agenda.detail.DetailAgendaActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.giat.detail.DetailGiatActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.giat.GiatActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.agenda.AgendaActivity"
            android:exported="false" />
        <activity
            android:name="com.kawal.malang.officer.presentation.report.panicHistory.PanicHistoryActivity"
            android:exported="false" />
        <activity
            android:name="com.kawal.malang.officer.presentation.briefing.create.CreateBriefingActivity"
            android:exported="false" />
        <activity
            android:name="com.kawal.malang.officer.presentation.account.edit.editMember.EditMemberActivity"
            android:exported="false" />
        <activity
            android:name="com.kawal.malang.officer.presentation.account.edit.password.EditPasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.kawal.malang.officer.presentation.account.edit.editCar.EditCarActivity"
            android:exported="false" />
        <activity
            android:name="com.kawal.malang.officer.presentation.patrol.history.PatrolHistoryActivity"
            android:exported="false" />
        <activity
            android:name="com.kawal.malang.officer.presentation.report.detail.DetailReportActivity"
            android:exported="false" />
        <activity
            android:name="com.kawal.malang.officer.presentation.DashboardActivity"
            android:exported="false" />
        <activity
            android:name="com.kawal.malang.officer.presentation.briefing.detail.DetailBriefingActivity"
            android:exported="false" />
        <activity
            android:name="com.kawal.malang.officer.presentation.auth.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.kawal.malang.officer.core.util.PreviewActivity"
            android:exported="false" />
        <activity
            android:name="com.kawal.malang.officer.core.util.ImageActivity"
            android:exported="false" />
        <activity
            android:name="com.kawal.malang.officer.presentation.MainActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.kawal.malang.officer.core.service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.kawal.malang.officer.core.service.SendLocationService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync|location" />
        <service
            android:name="com.kawal.malang.officer.core.service.prototype.LocationService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync|location" />
    </application>

</manifest>